DATA_SOURCE: ""
DATASET_NAME: ""

### CLINICAL VARIABLE INFORMATION ###
CLINICAL:
    FILE: ""
    OUTCOME_VARIABLES:
        event_label: ""
        event_value_mapping: {} # Ex. {'Event': 1, 'No event': 0}
        time_label: ""
        convert_to_years: False
    EXCLUSION_VARIABLES: {}
    INCLUSION_VARIABLES: {}

### MED-IMAGETOOLS settings
MIT:
    MODALITIES: 
        image: CT
        mask: RTSTRUCT
    ROI_STRATEGY: MERGE
    ROI_MATCH_MAP: "KEY:ROI_NAME" # NOTE: there can be no spaces in KEY:ROI_NAME and right now there can only be one KEY
        
### READII settings
READII:
    IMAGE_TYPES:
        regions:
            - "full"
            - "roi"
            - "non_roi"
        permutations:
            - "shuffled"
            - "sampled"
            - "randomized"
        crop:
        resize: 

### Feature Extraction settings
EXTRACTION:
    METHOD: pyradiomics
    CONFIG: linear_all_images_features

### Analysis settings
ANALYSIS:
    TRAIN_TEST_SPLIT:
        split_variable: null
        train_label: 'training'
        test_label: 'test'
        impute: 'training'

RANDOM_SEED: 10

# Argument for plot_prediction to generate volume only prediction line on violin plots
# VOL_LINE:
